<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Values by State</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Home Values by State</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div id="map">
          <h5>State:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div id="line1"></div>
      </div>
      <div class="col-md-5">
        <div id="line2"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="bar"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/../static/line-chart.js"></script>


</body>

</html>